---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const oldPosts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const posts = oldPosts.reverse()
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-prose m-auto px-4">
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li class="mb-8">
								<a href={`/${post.slug}/`}>
									<h1 class="text-xl font-bold hover:underline hover:text-white hover:bg-blue-700">{post.data.title}</h1>
									<p class="mb-2 text-gray-600">{post.data.description}</p>
								</a>
								<a href={`/${post.slug}/`} class="text-blue-700 hover:text-blue-600 font-medium">Read this article →</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
